*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --white: #F6F7F8;
  --light-grey: #ECEFF4;

  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
}

html {
  font-family: "Montserrat", sans-serif;
}

/* target #root after */
body {
  min-height: 100vh;
  display: grid;
  padding: var(--space-md);

  grid-template-rows: 1fr 3fr auto;

  background-color: var(--white);
}

/* Header */
header {
  display: grid;
  grid-template-rows: auto 1fr;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-lg);
  padding: var(--space-sm);
}
/* maybe remove icon and lets place a cart text */

.hero {
  width: -webkit-fill-available;
  position: relative;
}
#hero-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

.hero-text-container {
  padding: var(--space-md);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: white;
}

/* Main */
main {
  display: grid;
  grid-template-rows: repeat(2, 1fr);

}

.best-sellers {
  display: grid;
  grid-template-rows: auto 1fr;
}
#best-sellers-heading {
  text-align: center;
  padding: var(--space-md);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-sm);
}
.product-card {
  display: grid;
  grid-template-rows: 1fr auto auto;
  justify-content: center;
  justify-items: center;
}
.product-card > img#product-image {
  max-width: 100%;
  max-height: 100%;
}
.product-name,
.product-price {
  padding-top: var(--space-sm);
}

.company-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-md);

  gap: var(--space-sm);
}
#company-description-image {
  max-width: 60%;
}

/* Footer */
footer {
  display: flex;
  text-align: center;
  padding: var(--space-sm);
  justify-content: center;

  background-color: var(--light-grey);
}

img {
  border-radius: var(--space-md);
}

/* Tablet styling */
@media (min-width: 501px) and (max-width: 1358px) {
  body {
    background-color: blue;
  }
  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Mobile styling */
@media (max-width: 500px) {
  body {
    background-color: red;
  }
  .product-grid {
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: none;
    align-content: center;
  }
  .product-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  } 
  .company-description {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--space-md);
  }
}
