*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --white: #F6F7F8;
  --light-grey: #ECEFF4;
  --grey: #e1e1e1;
  --light-blue: #53a8ff;

  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
}

html {
  font-family: "Montserrat", sans-serif;
}

/* target #root after */
#root {
  display: grid;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
  padding: var(--space-md);
  gap: var(--space-sm);
  background-color: var(--white);
}

/* Header */
.header-home-page {
  display: grid;
  grid-template-rows: auto 1fr;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-lg);
  padding: var(--space-sm);
}
/* maybe remove icon and lets place a cart text */

.hero {
  width: -webkit-fill-available;
  min-height: 200px;
  position: relative;
}
#hero-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

.hero-text-container {
  padding: var(--space-md);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: white;
}

/* Main */
.main-home-page {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.best-sellers {
  display: grid;
  grid-template-rows: auto 1fr;
}
#best-sellers-heading {
  text-align: center;
  padding: var(--space-md);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-sm);
}
.product-card {
  display: grid;
  grid-template-rows: 1fr auto auto;
  justify-content: center;
  justify-items: center;
}
.product-card > img#product-image {
  max-width: 100%;
  max-height: 100%;
  /* max-height: 250px; */
}
.product-name,
.product-price {
  padding-top: var(--space-sm);
}

.company-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-md);

  gap: var(--space-sm);
}
#company-description-image {
  max-width: 60%;
}

/* Footer */
footer {
  display: flex;
  text-align: center;
  padding: var(--space-sm);
  justify-content: center;

  background-color: var(--light-grey);
}

img {
  border-radius: var(--space-md);
}

/* Tablet styling */
@media (min-width: 501px) and (max-width: 1358px) {
  /* body {
    background-color: blue;
  } */
  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Mobile styling */
@media (max-width: 500px) {
  /* body {
    background-color: red;
  } */
  .product-grid {
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: none;
    align-content: center;
  }
  .product-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  } 
  .company-description {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--space-md);
  }
}

/* Shop Style */
.main-shop-page {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--space-md);
}

.shop-header {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--space-sm);
}

.shop-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shop-item-image {
  width: 100%;
  height: 120px;
  object-fit: contain;
  border-radius: var(--space-sm);
}
.shop-item-price {
  text-align: center;
}
.add-to-cart-button {
  padding: var(--space-xs);
  border: none;
  border-radius: var(--space-sm);
  color: white;
  background-color: var(--light-blue);
}

/* Tablet styling */
@media (max-width: 850px) {
  .shop-header {
    text-align: center;
  }
  .shop-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

/* Mobile styling */
@media (max-width: 500px) {
  .shop-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr); /* Keep always the same number of cells despite responsivity (2*6 = 12, 3*4=12,) */
  }
}

/* Cart Style */
.main-cart-page {
  display: grid;
  gap: var(--space-lg);
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 1fr;
}
.cart-heading {
  grid-row: 1;
}

.cart-content-section {
  grid-row: 2;
  height: 75%;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: var(--space-sm);
  border-radius: var(--space-sm);

  background-color: var(--grey);
}
.span-content-header {
  display: flex;
  justify-content: space-between;
}
.clear-button {
  background: none;
  border: none;
  color: var(--light-blue);
  font-size: medium;
  font-weight: 500;
}

.items-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: var(--space-xs);
}
.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md);
  gap: var(--space-sm);
}
#cart-item-image {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: var(--space-sm);
}

.item-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}
.item-price {
  color: var(--light-blue);
}

.item-related-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--space-sm);
}
.item-button {
  width: 30px;
  height: 30px;
  border: none;
}
.item-button:nth-child(1),
.item-button:nth-child(3) {
  border-radius: var(--space-xs);
  background-color: var(--light-grey);
}
.item-button:nth-child(4) { /* Target remove item btn */
  background: none;
}

.order-summary-section {
  grid-row: 2;
  grid-column: 2;

  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 50%;
  gap: var(--space-md);
  padding: var(--space-sm);
  border-radius: var(--space-sm);

  background-color: var(--grey);
}
#order-summary-heading {
  text-align: center;
}
.order-cost-recap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.span-values-container {
  display: flex;
  justify-content: space-between;
}
.bold {
  font-weight: bold;
  font-size: large;
}
.checkout-button {
  padding: var(--space-sm);
  border: none;
  border-radius: var(--space-sm);
  color: white;
  background-color: var(--light-blue);
}

button {
  font-family: "Montserrat", sans-serif;
}
button:hover {
  opacity: 70%;
}

/* Mobile styling */
@media (max-width: 820px) {
  #cart-heading {
    text-align: center;
  }
  .main-cart-page {
    display: flex;
    flex-direction: column;
  }
}

/* Error page */
.error-heading {
  text-align: center;
}
.error-text-redirect {
  text-align: center;
  padding: var(--space-lg);
}