*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */

  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
}

/* target #root after */

body {
  min-height: 100vh;
  display: grid;
  padding: var(--space-md);

  grid-template-rows: 1fr 3fr auto;
}
header {
  background-color: rgb(230, 167, 167);
  display: grid;
  grid-template-rows: auto 1fr;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-lg);
  padding: var(--space-sm);

  background-color: aliceblue;
}
/* maybe remove icon and lets place a cart text */

.hero {
  width: -webkit-fill-available;
  position: relative;
}
#hero-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

.hero > h1,
.hero > p {
  padding: var(--space-md);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.hero > h1 {
  top: 50%;

  color: white;
}
.hero > p {
  top: 70%;

  color: white;
}

main {
  display: grid;
  grid-template-rows: repeat(2, 1fr);

  background-color: #009688;
}

.best-sellers {
  display: grid;
  grid-template-rows: auto 1fr;
}
#best-sellers-heading {
  text-align: center;
  padding: var(--space-md);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.product-card {
  display: grid;
  grid-template-rows: 1fr auto auto;
  justify-content: center
}
#product-image {
  max-width: 250px;
}
.product-name,
.product-price {
  padding: var(--space-sm);
}

.company-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-md);

  gap: var(--space-sm);
}
#company-description-image {
  max-width: 250px;
}

footer {
    display: flex;
    text-align: center;
    padding: var(--space-sm);
    justify-content: center;

    background-color: #a4a4bd;
}