.main-cart-page {
  display: grid;
  gap: var(--space-lg);
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 1fr;
}
.cart-heading {
  grid-row: 1;
}

.cart-content-section {
  grid-row: 2;
  /* height: 75%; */
  display: grid;
  grid-template-rows: auto 1fr;
  padding: var(--space-sm);
  border-radius: var(--space-sm);

  background-color: var(--grey);
}
.span-content-header {
  display: flex;
  justify-content: space-between;
}
.clear-button {
  background: none;
  border: none;
  color: var(--light-blue);
  font-size: medium;
  font-weight: 500;
}

.items-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: var(--space-xs);
}
.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: var(--space-md);
  gap: var(--space-sm);
}
#cart-item-image {
  width: 90px;
  height: 90px;
  object-fit: contain;
  border-radius: var(--space-sm);
}

.item-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}
.item-price {
  color: var(--light-blue);
}

.item-related-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--space-sm);
}
.item-button {
  width: 30px;
  height: 30px;
  border: none;
}
.item-button:nth-child(1),
.item-button:nth-child(3) {
  border-radius: var(--space-xs);
  background-color: var(--light-grey);
}
.item-button:nth-child(4) { /* Target remove item btn */
  background: none;
}

.order-summary-section {
  grid-row: 2;
  grid-column: 2;

  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 50%;
  gap: var(--space-md);
  padding: var(--space-sm);
  border-radius: var(--space-sm);

  background-color: var(--grey);
}
#order-summary-heading {
  text-align: center;
}
.order-cost-recap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.span-values-container {
  display: flex;
  justify-content: space-between;
}
.bold {
  font-weight: bold;
  font-size: large;
}
.checkout-button {
  padding: var(--space-sm);
  border: none;
  border-radius: var(--space-sm);
  color: white;
  background-color: var(--light-blue);
}

/* Mobile styling */
@media (max-width: 820px) {
  #cart-heading {
    text-align: center;
  }
  .main-cart-page {
    display: flex;
    flex-direction: column;
  }
}
