/* Main */
.main-home-page {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.best-sellers {
  display: grid;
  grid-template-rows: auto 1fr;
}
#best-sellers-heading {
  text-align: center;
  padding: var(--space-md);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-sm);
}
.product-card {
  display: grid;
  grid-template-rows: 250px 150px 1fr;
  text-align: center;
  align-items: center;
  justify-items: center;
}
.product-card > img#product-image {
  max-width: 100%;
  max-height: 100%;
  /* max-height: 250px; */
}
.product-name,
.product-price {
  padding-top: var(--space-sm);
}

.company-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-md);

  gap: var(--space-sm);
}
#company-description-image {
  max-width: 60%;
}

/* Footer */
footer {
  display: flex;
  text-align: center;
  padding: var(--space-sm);
  justify-content: center;

  background-color: var(--light-grey);
}

img {
  border-radius: var(--space-md);
}

/* Mobile styling */
@media (max-width: 500px) {
  /* body {
    background-color: red;
  } */
  .product-grid {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: none;
    align-content: center;
  } 
  .product-card {
    display: grid;
    grid-template-columns: 100px 280px 1fr;
    grid-template-rows: none;
    align-content: unset;
    gap: var(--space-xs);
  } 
  .company-description {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--space-md);
  }
}