.main-shop-page {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--space-md);
}

.shop-header {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--space-sm);
}

.shop-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shop-item-image {
  width: 100%;
  height: 120px;
  object-fit: contain;
  border-radius: var(--space-sm);
}
.shop-item-price {
  text-align: center;
}
.add-to-cart-button {
  padding: var(--space-xs);
  border: none;
  border-radius: var(--space-sm);
  color: white;
  background-color: var(--light-blue);
}

/* Tablet styling */
@media (max-width: 850px) {
  .shop-header {
    text-align: center;
  }
  .shop-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

/* Mobile styling */
@media (max-width: 500px) {
  .shop-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr); /* Keep always the same number of cells despite responsivity (2*6 = 12, 3*4=12,) */
  }
}
